body {
    background-color: white;
}
*{
    padding: 0px;
    margin: 0px;
}
html, body,#background{
    
    height: 100%;
    width: 100%;
}
#page{
    height: auto;
    width: 100%;
}
::-webkit-scrollbar{
    display: none;
    width: 0;
}
#background{
    background-color: #f3f3f3;

}
#before{
    padding-top: 10px;
}
#post_list{
    padding-bottom: 100px;
}
#post{
    background-color: white;
    overflow:hidden;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 5px;
}
#post hr{
    width:100%;
    margin: 0;
}
#post_meta{
    font-weight: 200;
    color:rgb(169, 169, 169);
}
#post_content{
    color: rgb(80, 80, 80);
    max-height: 15em;
}
#add_post:hover,#post_more:hover{
    background-color: lightgray;
    text-decoration: underline;
}
#post_more{
    color: blue;
    text-align: left;
    width: min-content;
    border-radius: 0;
background-color: lightgray;
}