form { 
    margin: 0 auto; 
    margin-top: 5%;
    width: 80%;
    position: center;
    }

#markdown {
    height: 20vw;
}

#preview_div {
    display: none;
    margin-top: 1.5%;
}

#markdown_preview { 
    overflow: auto;
    height: 20vw;
    border:1px solid rgb(214, 213, 212);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

label {
    font-size: 1.5vw;
    font-weight: bold;
}

h1 {
    text-align: center;
    padding-bottom: 3%;
}