form { 
    margin: 0 auto; 
    margin-top: 5%;
    width: 80%;
    position: center;
    }
 
 
#markdown {
    height: 15vw;
    font-size: 1vw;
    padding: 0.4vw;
}
 
#markdown_div {
    margin-bottom: 1vw;
}

#preview_div {
    display: none;
}

#preview-button-group {
    margin-bottom: 1vw;
    margin-left: 0%;
    width: 35vw;
    height: 3vw;
    display: inline-flex;
}

#bottom-button-group {
   width: 35vw;
   height: 3vw;
   display: inline-flex;
}
 
#title {
    font-size: 1vw;
    height: 2vw;
    padding: 0.4vw;
}
 
#markdown_preview { 
    overflow: auto;
    height: 15vw;
    border:1px solid rgb(214, 213, 212);
    border-radius: 5px;
    padding: 0.4vw;
    font-size: 1vw;
    background-color: white;
    resize: vertical;
}

#cancel{
    font-size: 1vw;
    margin-top: 2%;
    margin-left: 1%;
    padding: 0.5% 2% 0.5% 2%;
  }

#save {
    font-size: 1vw;
    margin-top: 2%;
    margin-left: 0.5%;
    padding: 0.5% 2% 0.5% 2%;
}

#swapShowingPreview_button {
    font-size: 1vw;
    padding: 0.5% 2% 0.5% 2%;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#updatePreview_button {
    font-size: 1vw;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0.5% 2% 0.5% 2%;
    width: 15.5vw;
    background-color: goldenrod;
    border-color: goldenrod;
}

#hidePreview_button {
    font-size: 1vw;
    margin-top: 2%;
    margin-left: 0.7%;
    padding: 0.5% 2% 0.5% 2%;
    width: 15.5vw;
}

label {    
    font-size: 1.5vw !important;
    font-weight: bold;
}
 
#livePreviewCheckbox_label {
    font-size: 1vw !important;
    font-weight: normal;
}

#page_h1 {
    text-align: center;
    padding-bottom: 2vw;
    font-size: 2.6vw !important;
}

h1 {
    font-size: 2.6vw !important;
}
h2 {
    font-size: 2.3vw !important;
}
h3 {
    font-size: 2vw !important;
}
h4 {
    font-size: 1.7vw !important;
}
h5 {
    font-size: 1.4vw !important;
}
h6 {
    font-size: 1.1vw !important;
}

 
@media (max-width: 1200px) 
{
    #livePreviewCheckbox_label
    {
     font-size: 1.5vw !important; 
    }
    
    input[type=checkbox]
    {
      transform: scale(1);  
    }
}


@media (max-width: 768px) 
{
   label {
       font-size: 2.5vw !important; 
   }
   #livePreviewCheckbox_label
   {
    font-size: 2vw !important; 
   }
   button {
       height: 3vw !important;
       font-size: 1.2vw !important;
   }
   #page_h1 {
       font-size: 3.5vw !important;
       padding-bottom: 1vw;
   }
   #markdown_preview, #markdown {
    font-size: 2.5vw !important;
    padding: 1vw;
    height: 18vw;
  }
  #title {
    font-size: 2vw;
    height: 4vw;
    padding: 1vw;
  }

  h1 {
    font-size: 3.5vw !important;
  }
  h2 {
    font-size: 3.2vw !important;
  }
  h3 {
    font-size: 2.9vw !important;
  }
  h4 {
    font-size: 2.6vw !important;
  }
  h5 {
    font-size: 2.3vw !important;
  }
  h6 {
    font-size: 2vw !important;
  }
  input[type=checkbox]
  {
    transform: scale(1);  
  }
}


@media (max-width: 500px) 
{
    #livePreviewCheckbox_label
    {
     font-size: 2.4vw !important; 
    }
    input[type=checkbox]
    {
      transform: scale(0.7);  
    }
}