  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-size: 0.8vw;
  }

  .new_account {
    margin-top: 4%;
  }

  p {
    font-size: 1vw;
    color: black;
    margin-top: 4%;
    font-weight: bold;
}

  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 10pt;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  input[type=submit] {
    border: none;
    color: white;
    padding: 2% 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4% 4% 4% 4%;
  }
  
  input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
  }

  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }

  @media (max-width: 768px) 
  {
     #email, #password, #loginbutton {
         font-size: 1.5vw; 
     }
     p {
         font-size: 2vw;;
     }
     a {
      font-size: 1.2vw;;
  }
  }