body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h2 {
    font-size: 1.5vw;
    margin-top: 8%;
    margin-bottom: 8%;
}

p {
    font-size: 0.9vw;
}

#left_arrow_icon {
    font-size: 2vw;
}

#lock_icon {
    font-size: 4vw;
}

#sendEmailButton{
    font-size: 0.9vw;
    margin-top: 2%;
  }

#email {
    font-size: 0.8vw;
    text-align: center;
}

.container {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    font-size: 2vw;
    margin-top: 10%;
  }

  .panel.panel-default {
    border-radius: 10px 10px 10px 10px;
  }

  
  