body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h2 {
    font-size: 1.5vw;
    margin-top: 8%;
    margin-bottom: 8%;
}

p {
    font-size: 0.9vw;
}

#left_arrow_icon {
    font-size: 2vw;
}

#lock_icon {
    font-size: 4vw;
}

#sendEmailButton{
    font-size: 0.9vw;
    margin-top: 2%;
  }

#email {
    font-size: 0.8vw;
    text-align: center;
    height: 14%;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
 
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%; 
  min-height: 100%;
  padding: 20px;
  margin-top: 10vw;
}

.container {
    font-size: 2vw;
    margin-top: 10%;
  }

  .panel.panel-default {
    border-radius: 10px 10px 10px 10px;
  }


  @media (max-width: 768px) 
{
   #sendEmailButton, #email, #test {
       font-size: 1.5vw; 
   }
   h2, p {
       font-size: 3vw;;
   }
   #lock_icon {
     font-size: 8vw;
   }
   #left_arrow_icon {
    font-size: 5vw;
   }
   .wrapper {
    margin-top: 25vw;
   }
}
  
  