body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  zoom: 125%;
}

h2 {
    font-size: 1.8em;
    margin-top: 8%;
    margin-bottom: 8%;
}

p {
    font-size: 1.2em;
}

#left_arrow_icon {
    font-size: 2em;
}

#lock_icon {
    font-size: 4em;
}

#sendEmailButton{
    font-size: 1.2em;
    margin-top: 2%;
  }

#email {
    font-size: 1.2em;
    text-align: center;
    height: 14%;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
 
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%; 
  min-height: 100%;
  padding: 20px;
  margin-top: 10em;
}

.container {
    font-size: 2em;
    margin-top: 10%;
  }

  .panel.panel-default {
    border-radius: 10px 10px 10px 10px;
  }


  
  