body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 10pt;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    font-size: 1em;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

p {
    font-size: 1.4em;
    color: black;
    margin-top: 4%;
    font-weight: bold;
}


.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}


@media (max-width: 768px) {
    p {
        font-size: 2vw;;
    }

    a {
        font-size: 1.2vw;;
    }
}

@media (max-width: 500px) {
    p {
        font-size: 2.5vw;;
    }

    a {
        font-size: 2vw;;
    }
}