*{
    margin:0px;
    padding: 0px;
    
}

#whole_post_page{
    position: fixed;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    overflow: auto; 
}



html{
    height: 100%;
}

body{
    height: 100%;
}


#post {
    border: 5px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    padding: 10px;
    background-color: white;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
}

#authorAndDate_div {
    padding-left: 1vw;
}

p {
    margin-bottom: 0 !important;
}

#content {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    font-size: 1vw !important;
}

ul {
    margin-left: 25px;
}

#authorAndDate_div
{
    color: #888a89;
    font-size: 1.2vw;
}

#post_text{
    padding-left: 2px;
    color: black;
}

button {
    font-size: 1vw !important;
}

#title {
    font-size: 2.5vw;
}

h1 {
    font-size: 2.6vw !important;
}
h2 {
    font-size: 2.3vw !important;
}
h3 {
    font-size: 2vw !important;
}
h4 {
    font-size: 1.7vw !important;
}
h5 {
    font-size: 1.4vw !important;
}
h6 {
    font-size: 1.1vw !important;
}

@media (max-width: 768px) 
{
    button {
        font-size: 1.5vw !important;
    }
    
    #authorAndDate_div {
        font-size: 1.8vw;
    }  

    #title {
        font-size: 3vw;
    }

    #content {
        font-size: 1.5vw !important;
    }

    h1 {
        font-size: 3.5vw !important;
      }
      h2 {
        font-size: 3.2vw !important;
      }
      h3 {
        font-size: 2.9vw !important;
      }
      h4 {
        font-size: 2.6vw !important;
      }
      h5 {
        font-size: 2.3vw !important;
      }
      h6 {
        font-size: 2vw !important;
      }
      
}
