*{
    margin:0px;
    padding: 0px;
    
}

#whole_post_page{
    position: fixed;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    overflow: auto;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.container{
    padding: 0px;
  
}

#post {
    border: 5px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    padding: 10px;
    background-color: white;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
}

#aouthor,
#date,
#content,
#show_pictures{
    padding-left: 10px;
}

#date,
#picture_title,
#comment_title{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
}

#comment_owner{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    color: black;
    letter-spacing: 3px;
}

#post_text{
    padding-left: 2px;
    color: black;
}

#comments {
    border: 5px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: auto;
    
}

#exist_comment{
    border: 5px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: lightgray;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

#new_post{
    padding-top: 50px;
    padding-left: 10px;
}

#new_comment_div{
    margin-top: 25px;
}

#all_pictures :hover{
    width: 75%;
    height: 75%;
}