<!DOCTYPE html>
<html lang="de">
<head>

    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

    <link href="../style/create_account.css"  type="text/css" rel="stylesheet">

    <!-- Scripts  -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuer Account</title>
</head>

<body>
    
    <div class="wrapper">
        <form action="#" onsubmit="return false">
            <div id="formContent">  
            <div><h1>Neuen Account anlegen:</h1></div>        
            <p>E-Mail eingeben:</p>
            <input name="email" type="text" id="email" placeholder="E-Mail" aria-label="email" aria-describedby="basic-addon1" required="true"/>
            <p>Vorname und Nachname:</p>
                <input name="firstname" type="text" id="firstname" placeholder="Vorname" aria-label="firstname" aria-describedby="basic-addon1" required="true"/>
                <input name="secondname" type="text" id="secondname" placeholder="Nachname" aria-label="secondname" aria-describedby="basic-addon1" required="true"/>
            <p>Passwort eingeben:</p>
            <input name="password" type="password" id="password" placeholder="Passwort" required="true" aria-label="password" aria-describedby="basic-addon1"/>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>    
            <p>Passwort erneut eingeben:</p>           
            <input name="password2" type="password" id="password2" placeholder="Passwort" required="true" aria-label="password2" aria-describedby="basic-addon1" /> 
            <p>Token eingeben:</p>
            <input name="token" type="text" class="last_token" id="token" placeholder="Token" required="true" aria-label="token" aria-describedby="basic-addon1" /> 
            <button id="createAccountButton" class="btn btn-primary btn-block" type="submit" onclick="createAccount()">Erstellen</button>
            <button id="cancel" class="btn btn-danger btn-block" type="button" onclick="cancelCreateAccount()">Abbrechen</button>    
            </div>
        </form>
    </div>
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>var exports = {};</script>
<script src= "/static/src/FrontendHelper.js"></script>
<script src= "/static/src/create_account.js"></script>
</body>
</html>
