<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/style/navigation_page.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script> scr="https://kit.frontawesome.com/b99e675b6e.js"</script>

    <title>Navigation</title>

</head>
<body>
    <div id="nav_page">            
        <div id="nav_list" class="container">
            <li><a href="/">Startseite</a></li>
            <li><a href="/blog_overview">Alle Beiträge</a></li>
            <li><a href="/blog_posts/render?post_id=1">Ganzer Beitrag</a></li>
            <li><a href="/blog_posts/create">Beitrag erstellen</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/reset_password">Passwort vergessen</a></li>
            <li><a href="/create_account">Account erstellen</a></li>
            <li><a href="/account">Profil</a></li>
        </div>
    </div>
</body>
</html>