
<div class="form-gap"></div>
<div class="wrapper">
    <div id="formContent">
        <form action="#" onsubmit="return false"> 
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" required type="text" name="title" id="title">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description"></textarea>
            </div>

            <div class="form-group">
                <label for="markdown">Markdown</label>
                <textarea class="form-control" required name="markdown" id="markdown"></textarea>
            </div>

            <a href="/" class="btn btn-secondary">Abbrechen</a>
            <button class="btn btn-primary" type="submit">Speichern</button>
        </form>
    </div>
</div>

