<!DOCTYPE html>
<html lang="de">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../style/reset_password.css"  type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Scripte -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort zurücksetzen</title>
</head>
<body>
<div class="form-gap"></div>
<div class="container-md">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div style="text-align: left;">
                            <a href="loginpage">
                            <span id="left_arrow_icon" class="glyphicon glyphicon-circle-arrow-left"></span>
                            </a>
                        </div>
                        <h3><span id="lock_icon" class="glyphicon glyphicon-lock"></span></h3>
                        <h2 class="text-center responsive_h">Passwort vergessen?</h2>
                        <p class="responsive_p">Hier kannst du eine Anfrage an deine E-Mail Adresse senden, mit welcher du das Passwort ändern kannst.</p>
                        <div class="panel-body">
                            <form id="register-form" role="form" action="#" onsubmit="return false">   
                                <div class="form-group">
                                    <input id="email" name="email" placeholder="E-Mail Adresse" class="form-control"  type="text" required="true">
                                    <button id="sendEmailButton" class="btn btn-primary btn-block" type="submit" onclick="resetPasswordRequest()">Email senden</button>
                                </div>                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script src= "/static/src/reset_password.js"></script>
</body>
</html>