<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

    <link href="/style/set_new_password.css"  type="text/css" rel="stylesheet">

    <!-- Scripts  -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Neues Passwort setzen</title>
</head>

<body>
<div class="form-gap"></div>
<div class="wrapper">
    <div id="formContent">
        <div id="startText">
            <h1>Neues Passwort festlegen:</h1>
        </div> 

        <form action="#" onsubmit="return false"> 
            <input name="newPassword1" type="password" class="input form-control" id="newPassword1" placeholder="Neues Passwort" required="true"/>
            <input name="newPassword2" type="password" class="input form-control" id="newPassword2" placeholder="Neues Passwort bestätigen" required="true"/>    
            <button id="setNewPasswordButton" class="btn btn-primary btn-block" type="submit" onclick="setNewPassword()">Passwort ändern</button>
        </form>
  </div>
</div>
<script src= "/static/src/set_new_password.js"></script>
</body>

</html>