<!DOCTYPE html>
<html lang="de">
<head>

    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

    <link href="../style/create_account.css"  type="text/css" rel="stylesheet">

    <!-- Scripts  -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuer Account</title>
</head>

<body>
    <div class="wrapper">
        <div id="formContent">
            <div class="">
                <h>Neuen Account anlegen:</p>
            </div>
          
        <p>E-Mail eingeben:</p>
        <input name="email" type="text" id="email" placeholder="E-Mail" aria-label="email" aria-describedby="basic-addon1" />
        <p>Passwort eingeben:</p>
        <input name="password" type="password" id="password" placeholder="Passwort" required="true" aria-label="password" aria-describedby="basic-addon1" />      
        <p>Passwort erneut eingeben:</p>           
        <input name="password2" type="password" id="password2" placeholder="Passwort" required="true" aria-label="password2" aria-describedby="basic-addon1" /> 
        <p>Token eingeben:</p>
        <input name="token" type="text" class="last_token" id="token" placeholder="Token" required="true" aria-label="token" aria-describedby="basic-addon1" /> 
        
        </div>
    </div>
</body>
</html>