<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style/index.css">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>My Blog</title>
</head>
<body>

    <h1>test</h1>

    <div class="container">
        <h1 class= "mb-4">index.ejs</h1>
        <a href="/articles/new" class="btn btn-success">New Articles</a>
        
            
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Titel</h4>
                    <div class="card-subtitle text-muted mb-2">
                        TT/MM/JJJJ
                    </div>
                    <div class="card-text mb-2">
                        Beschreibung
                    </div>
                    <a href="www.google.de" class="btn btn-primary">Ganzen Artikel lesen</a>
                    <a href="www.google.de" class="btn btn-info">Bearbeiten</a>
                    <form action="www.google.de"  class="d-inline">
                        <button type="submit" class="btn btn-danger">Löschen</button>
                      </form>
                </div>
            </div>
    </div>
</body>
</html>