
<!DOCTYPE html>
<html lang="de">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/style/reset_password.css"  type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Scripte -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort zurücksetzen</title>
</head>

<body>
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <div style="text-align: left;">
                            <a href="loginpage">
                            <img class="back_arrow" src="../img/Arrows-Left-Round-icon.png">
                            </a>
                        </div>
                    
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Passwort vergessen?</h2>
                    <p>Hier kannst du ein neues Passwort an deine E-Mail Adresse senden lassen.</p>
                        <div class="panel-body">
    
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                            <div class="form-group">
                                <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                <input id="email" name="email" placeholder="E-Mail Adresse" class="form-control"  type="email">
                                </div>
                            </div>
                      
                            <div class="form-group">
                                <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Neues Passwort senden" type="submit">
                            </div>                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
</body>
</html>