click==7.1.2
Flask==1.1.2
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
-e git+git://github.com/maxcountryman/flask-uploads.git#egg=Flask-Uploads
Flask-Limiter==1.4
Flask-Mail==0.9.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.2
six==1.15.0
SQLAlchemy==1.4.2
Werkzeug==1.0.1
markdown==3.3.4
coverage==5.5
